<div style="width:500px; border:1px solid #EEE; padding:15px; background:#FFF; line-height:22px;">
<p style="margin:0; padding:0 0 15px 0;">亲爱的：lyping：<br>收到这封邮件，是因为你曾经注册42ic电子问答社区(<a href="http://www.42ic.com/" target="_blank">http://www.42ic.com</a>)<br></p>
<h3>更多时令菜谱</h3>
<p style="margin:0; padding-bottom:10px;">【丝瓜皮炒木耳】夏季佳肴，营养、清爽，口感很脆。<br><a href="http://www.xiachufang.com/recipe/26110/" target="_blank">http://www.xiachufang.com/recipe/26110/</a></p>
<p style="margin:0; padding-bottom:10px;">【夏日煎茄饼】小时候的夏天，事先煮好的绿豆粥再加上煎茄子饼，就是满足的一餐。<br><a href="http://www.xiachufang.com/recipe/1001349/" target="_blank">http://www.xiachufang.com/recipe/1001349/</a></p>
<p style="margin:0; padding-bottom:10px;">【罗汉果甘蔗蜂蜜甜水】这道罗汉果甘蔗蜂蜜甜水适合深夜加班工作，容易上火、排毒能力减低者；长坐办公室，呼吸不到室外新鲜空气影响肺部功能者；室外活动、运动量较大，体内水分容易流失者。<br><a href="http://www.xiachufang.com/recipe/38654/" target="_blank">http://www.xiachufang.com/recipe/38654/</a></p>
<p style="margin:0; padding-bottom:25px;">【牛奶龙眼水晶糕】龙眼7-8月果实成熟呈黄褐色时采摘，既可鲜吃又可作药用，营养丰富，是珍贵的滋养强化剂，历来被人们称为岭南佳果。<br><a href="http://www.xiachufang.com/recipe/1000202/" target="_blank">http://www.xiachufang.com/recipe/1000202/</a></p>
<p style="margin:0; padding-bottom:10px; color:#999;">42ic团队</p>
</div>
