{% extends "question/base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% from "macros/_post.html" import render_question %}
{% from "macros/_paginate.html" import paginate %}
{% block title %}{{ title }}{% endblock %}
{% block stylesheets  %} 
{% endblock %}
{% block extra_javascripts %}
{% endblock %}
{% block main %} 
<!--问题列表开始-->
<div class="l-body">
<!-- 信息流 -->
{%if g.user %}
<div class="user-info">
<a href="{{ url_for('people.index', username=g.user.username) }}">
<img src="{{g.user.avatar|avatar_url}}" alt="{{g.user.name}}的个人资料照片"></a>
<a href="{{ url_for('people.index', username=g.user.username) }}">{{g.user.name}}</a>
</div>
{%endif%}
<div class="info-flow">
<a href="" target="_top" class="">信息流</a>
<div class="info-folw-ul">
    <div class="info-folw-li on">
        <a href="?view=latest" target="_top" class=""><span class="info-flow-ul-icon"></span>公共</a>
    </div>
</div>


</div>

</div>
<div class="r-body">
<div class="menu-hd clearfix">
欢迎光临
</div>


</div>
{% endblock %}
