{% extends theme("layout.html") %}
{% block title %}用户使用守则-eleye.org{% endblock %}
{% block content %}
{% trans contact_url=url_for('frontend.contact')  %}



<h1 style="text-align:center;">用户使用守则</h1>
<h2>总则</h2>
<ol>
　　<li>用户在接受eleye.org服务之前，请务必仔细阅读本条款并同意本声明。</li>
　　<li>用户直接或通过各类方式（如站外API引用等）间接使用eleye.org服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用eleye.org所提供的全部服务。</li>
</ol>
<h2>第一条</h2>
<ol>
　　<li>用户以各种方式使用eleye.org服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用eleye.org或eleye.org用户发布内容）的过程中，不得以任何方式利用eleye.org直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：<br />
　　发布、转载或提供的内容符合中国法律、社会公德；<br />
　　不得干扰、损害和侵犯eleye.org的各种合法权利与利益；<br />
　　遵守eleye.org以及与之相关的网络服务的协议、指导原则、管理细则等；</li>
　　<li>eleye.org有权对违反上述承诺的内容予以删除。</li>
</ol>
<h2>第二条</h2>
<ol>
　　<li>eleye.org仅为用户发布的内容提供存储空间，eleye.org不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证eleye.org的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用eleye.org，eleye.org不承担任何法律责任。</li>
　　<li>用户在eleye.org发表的内容（包含但不限于eleye.org目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表eleye.org的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。eleye.org不承担任何法律及连带责任。</li>
　　<li>用户在eleye.org发布侵犯他人知识产权或其他合法权益的内容，eleye.org有权予以删除，并保留移交司法机关处理的权利。</li>
　　<li>个人或单位如认为eleye.org上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与eleye.org取得联系，以便eleye.org迅速做出处理。
</ol>
<h2>附则</h2>
<ol>
　　<li>对免责声明的解释、修改及更新权均属于eleye.org所有。</li>
　　<li>联系我们请E-mail:server@eleye.org</li>
</ol>

{% endtrans %}

{% endblock %}
