{% extends "admin/base.html" %}
{% from "macros/_paginate.html" import paginate %}
{% block main %}
<div class="indent">
    <table class="olt">
    <tbody>
    <tr><td>小组名称</td>
    <td>URL名称</td>
    <td>申请人</td>
    <td>状态</td>
    <td align="right">操作</td>
    </tr>
    {% for r in req_list %}
        <tr>
        <td>{{r.name}}</td>
        <td>{{r.url_name}}</td>
        <td><a href="{{ url_for('people.index',username=r.author.username) }}">{{r.author.name}}</a></a></td>
        <td>{{r.status}}</td>
        <td>{%if r.status == 0 %}<a href="?action=pass&id={{r.id}}">通过</a>|<a href="?action=refusal&id={{r.id}}">拒绝</a>{%endif%}</td></tr>
    {% endfor %}            
        </tbody></table>
    </div>

{% endblock %}
