/**
.comment-main {
border-top: 1px solid #E3E3E3;
position: relative;
margin-top: 5px;
padding-top: 10px;
}
.yx {
background-color: #FBFBFB;
border-bottom: 1px solid #E3E3E3;
cursor: pointer;
padding: 8px;
}
*/