{% extends "people/base.html" %}
{% from "macros/_paginate.html" import paginate %}


{% block title %}{% endblock %}


{% block rmain %}

<div class="indent">
    
    <table class="pnl">
    <tbody><tr>
    <td class="topic">标题</td>
    <td align="right"class="">时间</td>
    </tr>
    {% for q in question_list.items %}
        <tr>
        <td><a href="/question/{{q.id}}">{{q.title}}</a></td>
        <td >{{q.date_created}}</td>
        </tr>
    {% endfor %}            
        </tbody></table>
    </div>
{{ paginate(question_list, page_url) }}
</div>
{% endblock %}

